body {
  font-family: "PT Serif", serif !important;
  padding-top: 20px;
}

footer{
  padding: 15px;
  border-top: 1px dashed #ccc;
}

.title{
  margin-bottom: 0px;
}

.subtitle{
  font-size: 140%;
}

.author{
  margin-bottom: 10px;
}

.references div{
  margin-left: 5px;
  padding-left: 5px;
  border-left: 3px solid #eee;
}

.references div:hover {
  background: #eee;
}

nav ul {
  padding-left: 20px;
  font-size: 95%;
}

nav h1 {
  font-size: 24px;
}

pre {
  background: #f5f5f5;
  padding: 10px;
}

.maintext h1 {
  margin-top: 0.2em;
  border-bottom: 1px dashed #ddd;
}

.maintext h2, .maintext h3 {
  margin-top: 0.5em;
}

table thead {
  background: #f3f3f3;
}
table caption{
  text-align: right;
}
table caption span:after{
  content: "[" attr(data-label) "]";
  margin-left: 10px;
}
table tr {
  border-bottom: 1px dashed #aaa;
}
table th {
  padding: 5px 10px;
  border-bottom: 2px solid #aaa;
}
table td {
  padding: 5px 10px;
}
table tr.even {
  background: #fbfbfb;
}
table tr:hover{
  background: #eee;
}
